.snackbar {
    visibility: hidden;
    min-width: 100%;
    /*margin-left: -125px;*/
    background-color: #333;
    color: #fff;
    border-radius: 2px;
    position: fixed;
    z-index: 1;
    /*left: 50%;*/
    bottom: 0;

}

.snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.snackbar > p{
    min-width: 80%;
    padding-left: 10px;
    text-align: left;
    font-size: 13px;

}

@-webkit-keyframes fadein {
    from {bottom: -60px; opacity: 1;}
    to {bottom: 0; opacity: 1;}
}

@keyframes fadein {
    from {bottom: -60px; opacity: 1;}
    to {bottom: 0; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 0; opacity: 1;}
    to {bottom: -60px; opacity: 1;}
}

@keyframes fadeout {
    from {bottom: 0; opacity: 1;}
    to {bottom: -60px; opacity: 1;}
}

/*@media (min-width: 800px) and (min-height: 800px) {*/
    /*.snackbar {*/
        /*min-width: 25%;*/
    /*}*/
/*}*/